*
  box-sizing: border-box

html, body
  background-color: white;
  font-family: arial
  margin: 0
  padding: 0
  height: 100%

h1
  font-size: 3em

.location
  background-position: 50%
  background-repeat: norepeat
  background-size: cover
  display: block
  height: 100%
  width: 100%
  .content
    padding: 30px
  .choices
    background-color: rgba(0, 0, 0, .5)
    bottom: 0
    height: 200px
    margin: 0
    position: fixed
    width: 100%
