*
  box-sizing: border-box

html, body
  background-color: white;
  font-family: arial
  margin: 0
  padding: 0
  height: 100%

h1
  font-size: 4.5em
  text-shadow: 0px 0px 5px black
  color: white
  font-family: monospace

h2
  font-size: 2em
  font-family: monospace
  text-shadow: -1px -1px 2px white,
		1px -1px 2px white,
		1px 1px 2px white,
		-1px 1px 2px white
  color: black

.introduction
  font-size: 2em;



.dialog
  bottom: 0
  position: absolute
  width: 100%
  .avatar
    float: left
    display: inline-block
    height: 300px
    width: 300px
    background-repeat: no-repeat
    @keyframes play {
      0% { background-position: 0px; }
      100% { background-position: -600px; }
    }
    -webkit-animation: play 1s steps(2) infinite
    animation: play 1s steps(2) infinite
  .characterSpeech
    border: 0.2em solid;
    padding: 1em;
    border-radius: 1em;
    background-color: #FFF;
    float: left
    width: 60%
    min-height: 10em
    font-size: 1.3em

.location
  background-position: 50%
  background-repeat: norepeat
  background-size: cover
  display: block
  height: 100%
  width: 100%
  .content
    padding: 30px
    .introduction
      color: #fff
  .choices
    background-color: rgba(0, 0, 0, .8)
    bottom: 0
    margin: 0
    position: fixed
    padding: 20px 40px
    width: 100%
    li
      padding: 5px
      transition: all 0.3s
      color: #FFF
      a, a:visited
        transition: all 0.3s
        color: #CCC
        font-weight: bold
        text-decoration: none
        &:hover, &:focus
          color: #FFF
          text-shadow: 0 0 5px #CCC
