<!DOCTYPE html>
<html lang="en" ng-app="beerChronicles">
  <head>
    <meta charset="utf-8">
    <title>beer chronicles</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body ng-controller="GameCtrl">
  <div style="background-image: url({{scene.location.backgroundImage}})">
      <h1>{{scene.location.title}}</h1>
  </div>
    <ul>
      <li ng-repeat="choice in scene.choices">
        <a href="#" ng-click="gotoScene(choice.href)">{{choice.text}}</a>
      </li>
    </ul>

    <script src="/app.js"></script>
  </body>
</html>
